<template name="forgot">
    <div class="form">
      <div><img class="sign-login" src="/img/seci-logo.png"/></div>
        <input type="email" class="form-control input-lg" id="useremail" placeholder="Enter Email">
        <div class="pwstrength_viewport_progress"></div>

        <button class="btn btn-success" id="forgotBtnData">Submit</button>

        <p class="message"><a href="/login" class="pull-left" style="color:black;font-weight:bold;">Sign in</a>
       <a href="/signup" class="pull-right" style="color:black;font-weight:bold;">Sign up </a>
       </p>
    </div>
</template>
