<template name="transcoTransmissionReport">
  <style>
  .btn-success:hover{
    background-color: #398439 !important;
  }
  </style>
  <form id="transcoTransmissionReport">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h1 style="font-weight:bold;font-size:28px;text-align:center;">Transco Sheet Report</h1>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group row">
                                      <label class="col-sm-4 form-control-label"> Month :</label>
                                      <div class="col-sm-8">
                                          <select id='month' name="month" class="form-control form-control-sm input-sm">
                                             <option value="">Select Month</option>
                                              {{#each monthShow}}
                                                <option value="{{this.value}}" monthInWord="{{this.key}}">{{this.key}}</option>
                                              {{/each}}
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              {{#if ifYearTypeSelected}}
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 form-control-label">Financial Year :</label>
                                        <div class="col-sm-8">
                                            <select id='financial_year' name="financial_year" class="form-control form-control-sm input-sm">
                                                <option value="">Select Year</option>
                                                {{#each yearHelper}}
                                                  <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                              <div class="row">
                                {{#if ifStuCtuSelected}}
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 form-control-label">STU/CTU Type</label>
                                        <div class="col-sm-8">
                                            <select id='ddlStuCtuType' name="ddlStuCtuType" class="form-control form-control-sm input-sm">
                                              <option value="">Select STU/CTU</option>
                                              <option attrType="CTU" value="NRLDC">NRLDC</option>
                                              <option attrType="CTU" value="ERLDC">ERLDC</option>
                                              <option attrType="CTU" value="SRLDC">SRLDC</option>
                                              <option attrType="CTU" value="WRLDC">WRLDC</option>
                                              <option attrType="STU" value="GETCO">GETCO</option>
                                              <option attrType="STU" value="MPPTCL">MPPTCL</option>
                                              <option attrType="Rajasthan" value="RVPN">RVPN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if ifsocMoc}}
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 form-control-label">Transaction Type :</label>
                                        <div class="col-sm-8">
                                            <select id='stu_transaction_type' name="stu_transaction_type" class="form-control form-control-sm input-sm">
                                                <option value="">Select Transaction Type</option>
                                                {{#if stuRajasthan}}
                                                <option value="Incentive">Incentive</option>
                                                <option value="SLDC">SLDC</option>
                                                <option value="Transmission">Transmission</option>
                                                {{/if}}
                                                {{#if stuType}}
                                                <option value="Transmission">Transmission</option>
                                                {{/if}}
                                                {{#if ctuType}}
                                                <option value="SOC">SOC</option>
                                                <option value="MOC">MOC</option>
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                              </div>
                                <!-- {{/if}}
                                {{#if isStuCtuTypeSelected}}
                                  {{#if stuType}}
                                  <div class="col-sm-6">
                                      <div class="form-group row">
                                          <label class="col-sm-4 form-control-label">Transaction Type</label>
                                          <div class="col-sm-8">
                                              <select id='stu_transaction_type' multiple="multiple" name="stu_transaction_type" class="form-control form-control-sm input-sm">
                                                    <option value="Transmission">Transmission</option>
                                                    <option value="Incentive">Incentive</option>
                                                    <option value="SLDC">SLDC</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                  {{else}}
                                  <div class="col-sm-6">
                                      <div class="form-group row">
                                          <label class="col-sm-4 form-control-label">Transaction Type</label>
                                          <div class="col-sm-8">
                                              <select id='stu_transaction_type' multiple="multiple" name="stu_transaction_type" class="form-control form-control-sm input-sm">
                                                    <option value="SOC">SOC</option>
                                                    <option value="MOC">MOC</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                  {{/if}}
                                {{/if}} -->

                                <!-- <div class="row">
                                  {{#if ifYearTypeSelected}}
                                  <div class="col-sm-6">
                                      <div class="form-group row">
                                          <label class="col-sm-4 form-control-label">Discom Scheme:</label>
                                          <div class="col-sm-8">
                                              <select id='scheme' multiple="multiple" name="scheme" class="form-control form-control-sm input-sm">
                                                  {{#each discomSchemeArr}}
                                                    <option value="{{discomScheme}}" attr="{{discomSchemeId}}">{{discomScheme}}</option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                  {{/if}}
                                  {{#if ifDiscomSchemeSelected}}
                                    <div class="col-sm-6 ">
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Discom :</label>
                                            <div class="col-sm-8">
                                                <select id='discom_state' name="discom_state" multiple="multiple" class="form-control form-control-sm input-sm">
                                                    {{#each discomListArr}}
                                                      <option value="{{state}}" attr="{{discomId}}">{{state}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                  {{/if}}
                                </div> -->
                            <div>
                            </div>
                                <div class="row">
                                  <div class="col-sm-12 text-center">
                                    <button id="genearateTranscoSheet" style="width:110px;" class="btn btn-sm btn-success">Generate Report</button>
                                  </div>
                                </div>
                                <!-- <div class="row">
                                  <div class="col-sm-12 text-center">
                                    <button id="pdfGenerate" type="button" style="width:110px;" class="btn btn-sm btn-success _pdfGenerate">Generate PDF</button>
                                  </div>
                                </div> -->
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</template>
