<template name="change_credential">
    <div class="col-sm-9 col-sm-l-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">

                <form id="changeCredential" action="#">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h1 style="font-weight:bold;font-size:28px;text-align:center;">Request for Changing the Credential</h1>
                      </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <section class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <label>Field to be Changed</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select id="selectOption" class="form-control form-control-sm input-sm changeCedentialDetails getName" name="field_to_change">
                                                            <option value="">Select Field to update</option>
                                                            {{#each fieldName}}
                                                            <option value="{{this.value}}" data="{{this.key}}">{{this.key}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-6">Old Data</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" value="{{oldValue}}" class="form-control input-sm changeCedentialDetails" Readonly id="inputOldData" placeholder="Enter Old Data" name="old_data">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-6">New Data</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control input-sm changeCedentialDetails" id="inputNewData" placeholder="Enter New Data" name="new_data">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="submit" class="btn btn-success pull-left">Submit</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    {{#if returnHelper}}
                                                    <em> you can not submit more than one request at a time </em> {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="panel panel-default">
                                                <div class="panel-body">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Field Name</th>
                                                                            <th>Old Data</th>
                                                                            <th>New Data</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {{#each AllDetails}}
                                                                        <tr>
                                                                            <td>{{data}}</td>
                                                                            <td>{{old_data}}</td>
                                                                            <td>{{new_data}}</td>
                                                                            <!-- <td><button class="btn btn-sm btn-info">View</button>&nbsp;<button class="btn btn-sm btn-primary">Edit</button>
                                                                    &nbsp;<button class="btn btn-sm btn-danger">Delete</button></td> -->
                                                                        </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="row pull-right">
                                                        <div class="col-sm-12 ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="button" id="submit_request" {{buttonDisabled}} class="btn btn-success pull-left" value="Submit Request to Update the Information">
                                                </div>
                                                <div class="col-sm-4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
