<template name="logbook_menu_stuCtu">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h1 style="font-weight:bold;font-size:28px;text-align:center;">Log Book STU/CTU</h1>
                  </div>
                <div class="panel-body">
                    <div class="row col-sm-12">
                        <div class="col-sm-6 col-md-6">
                          <a href="/invoice/transco-sheet-entry" class="thumbnail mycards">
                              <div class="caption">
                                  <h4>Transcon Sheet Entry</h4>
                              </div>
                          </a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <a href="/invoice/transco-sheet-report" class="thumbnail mycards">
                              <div class="caption">
                                  <h4>Transcon Sheet Report</h4>
                              </div>
                          </a>
                        </div>
                    </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</template>
