<template name="paymentAdviceBySECI">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
          <div class="col-sm-12 col-md-12 main">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h1 style="font-weight:bold;font-size:28px;text-align:center;">PAYMENT ADVICE</h1>
                  </div>
                  <section class="panel panel-default">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset class="scheduler-border">
                                                  <div class="row">
                                                      <div class="col-sm-12">
                                                          <div class="form-group row">
                                                            {{#if isUserComercial}}
                                                              <div class="col-sm-6 col-md-6">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadioBtn" value="GeneratePaymentAdvice">Generate Payment Advice
                                                              </div>
                                                              <div class="col-sm-6 col-md-6">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadioBtn" value="ViewPaymentAdvice">View Payment Advice
                                                              </div>
                                                              {{else}}
                                                              <div class="col-sm-6 col-md-6">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadioBtn" value="ViewPaymentAdvice">View Payment Advice
                                                              </div>
                                                              {{/if}}
                                                          </div>
                                                      </div>
                                                  </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                      {{#if isRadioBtnSelectedGenerate}}
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset class="scheduler-border">
                                                  <legend class="scheduler-border">Energy Payment Advice </legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Month :</label>
                                                                        <div class="col-sm-8">
                                                                            <select class="form-control input-sm clsPaymentAdvice" id="ddlMonthList" name="month">
                                                                                <option value="">Select Month</option>
                                                                                {{#each monthShow}}
                                                                                  <option value="{{this.value}}">{{this.key}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Financial Year :</label>
                                                                      <div class="col-sm-8">
                                                                          <select id='ddlFinancialYear' class="form-control input-sm clsPaymentAdvice" name="financial_year">
                                                                              <option value="">Select Financial Year</option>
                                                                              {{#each financialYearHelper}}
                                                                                <option value="{{this}}">{{this}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">State :</label>
                                                                        <div class="col-sm-8">
                                                                          <select class="form-control input-sm clsPaymentAdvice" id="ddlSPDStateList" name="state">
                                                                              <option value="">Select State</option>
                                                                              {{#each spdStateList}}
                                                                              <option value="{{this}}">{{this}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">SPD :</label>
                                                                      <div class="col-sm-8">
                                                                          <select id='ddlSPDList' class="form-control input-sm clsPaymentAdvice" name="spdName">
                                                                              <option value="">Select SPD</option>
                                                                              {{#each allSPDListArr}}
                                                                              <option value="{{spdName}}" attrId="{{spdId}}">{{spdName}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  {{#if isEnergyDataAvailableLogBook}}
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Invoice No :</label>
                                                                        <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="invoice_number" id="txtInvoiceNo" value="{{getDataToHelper.invoiceNumber}}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Unit :</label>
                                                                      <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="build_unit" id="txtUnit" value="{{getDataToHelper.billedUnits}}" readonly>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Rate :</label>
                                                                        <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="rate" id="txtInvoiceNo" value="{{getDataToHelper.rate}}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Invoice Amount :</label>
                                                                      <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="invoice_amount" id="txtInvoiceAmount" value="{{getDataToHelper.invoiceAmount}}" readonly>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Paid Amount :</label>
                                                                        <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="paid_amount" id="txtPaidAmount" value="{{getDataToHelper.releasedPayment}}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Short Payment :</label>
                                                                      <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="short_payment" id="txtShortPayment" value="{{getDataToHelper.remaningAmount}}" readonly>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Date of Receipt :</label>
                                                                      <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="dateOfReceipt" id="txtDateofReceipt" value="{{getDataToHelper.dateOfReceipt}}" readonly>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Due Date :</label>
                                                                        <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="duedate" id="txtDueDate" value="{{getDataToHelper.dueDate}}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Date of Payment :</label>
                                                                      <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="dateOfPayment" id="txtDateofPayment" value="{{getDataToHelper.generatedDate}}" readonly>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Deduction If Any :</label>
                                                                        <div class="col-sm-8">
                                                                          <input type="text" class="form-control input-sm clsPaymentAdvice" name="deducationIfAny" id="txtdeducationIfAny" value="{{isDeductionAvailable getDataToHelper.deducationIfAny}}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Remarks :</label>
                                                                        <div class="col-sm-8">
                                                                          <textarea type="text" row="2" class="form-control input-sm" id="txtRemarks" name="remarks" placeholder="Enter Remarks"></textarea>
                                                                          <!-- <input type="text" row="2" class="form-control input-sm clsPaymentAdvice" name="remarks" id="txtRemarks"> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <center><button class="btn btn-warning btn-sm" id="btnGenratePaymentAdvice">Generate</button></center>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  {{/if}}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                      {{/if}}
                      {{#if isRadioBtnSelectedView}}
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset class="scheduler-border">
                                                  <legend class="scheduler-border">View Payment Advice </legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">Month :</label>
                                                                        <div class="col-sm-8">
                                                                            <select class="form-control input-sm clsPaymentAdvice" id="ddlMonthList" name="month">
                                                                                <option value="">Select Month</option>
                                                                                {{#each monthShow}}
                                                                                  <option value="{{this.value}}">{{this.key}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">Financial Year :</label>
                                                                      <div class="col-sm-8">
                                                                          <select id='ddlFinancialYear' class="form-control input-sm clsPaymentAdvice" name="financial_year">
                                                                              <option value="">Select Financial Year</option>
                                                                              {{#each financialYearHelper}}
                                                                                <option value="{{this}}">{{this}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-4 form-control-label">State :</label>
                                                                        <div class="col-sm-8">
                                                                          <select class="form-control input-sm clsPaymentAdvice" id="ddlSPDStateList" name="state">
                                                                              <option value="">Select State</option>
                                                                              <option value="All">All</option>
                                                                              {{#each spdStateList}}
                                                                              <option value="{{this}}">{{this}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <div class="form-group row">
                                                                      <label class="col-sm-4 form-control-label">SPD :</label>
                                                                      <div class="col-sm-8">
                                                                          <select id='ddlSPDListView' class="form-control input-sm clsPaymentAdvice" name="spdName">
                                                                              <option value="">Select SPD</option>
                                                                              <option value="All">All</option>
                                                                              {{#each allSPDListArr}}
                                                                              <option value="{{spdName}}" attrId="{{spdId}}">{{spdName}}</option>
                                                                              {{/each}}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                      {{#if isGeneratedPAFetched}}
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset class="scheduler-border">
                                                  <legend class="scheduler-border">Payment Advice </legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <table class="table table-bordered">
                                                                      <thead>
                                                                          <tr>
                                                                              <th class="text-center">S.No.</th>
                                                                              <th class="text-center">Invoice No</th>
                                                                              <th class="text-center">Date of Receipt</th>
                                                                              <th class="text-center">Due Date</th>
                                                                              <th class="text-center">Invoice Amount</th>
                                                                              <th class="text-center">Paid Amount</th>
                                                                              <th class="text-center">Date of Payment </th>
                                                                              <th class="text-center">Action</th>
                                                                          </tr>
                                                                      </thead>
                                                                      <tbody>
                                                                          {{#each returnGeneratedPA}}
                                                                              <tr>
                                                                                  <td class="text-center">{{serial @index}}</td>
                                                                                  <td class="text-center">{{invoice_number}}</td>
                                                                                  <td class="text-center">{{dateOfReceipt}}</td>
                                                                                  <td class="text-center">{{duedate}}</td>
                                                                                  <td class="text-center">{{invoice_amount}}</td>
                                                                                  <td class="text-center">{{paid_amount}}</td>
                                                                                  <td class="text-center">{{dateOfPayment}}</td>
                                                                                  <td class="text-center">
                                                                                    {{#if isUserComercial}}
                                                                                      <button id='viewPaymentAdviceDocx' filePath="{{file_path_docx}}" class="btn btn-info btn-xs">Docx</button>
                                                                                      <button id='viewPaymentAdvicePdf' filePath="{{file_path}}" class="btn btn-warning btn-xs">PDF</button>
                                                                                      <button id='deletePaymentAdvice' filePath="{{file_path}}" attrId={{_id}} class="btn btn-danger btn-xs">Delete</button>
                                                                                      {{else}}
                                                                                      <button id='viewPaymentAdvicePdf' filePath="{{file_path}}" class="btn btn-warning btn-xs">PDF</button>
                                                                                      {{/if}}
                                                                                  </td>
                                                                              </tr>
                                                                          {{/each}}
                                                                      </tbody>
                                                                  </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        {{/if}}
                      {{/if}}
                    </div>
                  </section>
              </div>
          </div>
      </div>
  </div>
</template>
